body{
	background-image: url("img/fall-and-coffee-photo.jpg");
}

button{
	display: block; 
	margin: 0 auto;
	color: black;
	background-color: white;
}

div{
	text-align: center;
	color: white;
	font-size: 20px;
}


h1{
	font-size: 80px;
	color: white;
}

section{
	text-align: center;
}

p{
	color: white;
	font-size: 20px;
}


.answers-button{
	font-size: 20px;
	color: white;
	background-color: black;
}

.answers-button:hover{
	color: black;
	background-color: yellow;
}


.container{
	clear:both;
}

#heading-2{
	
	color: grey;
	line-height:100%;
}

#main-content{
	clear:both;
}